@import url('https://fonts.googleapis.com/css?family=Montserrat');


html,
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

body {

    background: #FFAFBD;
    background: -webkit-linear-gradient(to right, #ffc3a0, #FFAFBD);  
    background: linear-gradient(to right, #ffc3a0, #FFAFBD); 


}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

header {
    text-align: center;
    font-size: 3rem;
    padding-top: 20px;
    color: white;
    letter-spacing: -4px;
    font-weight: 900;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.125);
}

input {
    display: block;
}

.App {
    display: grid;
    justify-items: center;
}



@media only screen and (max-width: 600px) {
    header {
        font-size: 1.7rem;
        letter-spacing: -1px;
    }

}